{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'login/css/register.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <title>Registry</title>
  </head>
  
  <body {% if error_message %} data-error-message="{{ error_message }}" {% endif %}>
    <div class="container">
      <div class="logo">
        <i class="bi bi-diamond-half"></i>
        <strong>Account Creation</strong>
        <p>Create your account to get started.</p>
      </div>
      
      <form id="registerForm" class="form" method="post">
          {% csrf_token %}
          <div class="input_field">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
          </div>
          <div class="input_field">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="E-mail" required>
          </div>
          <div class="input_field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
          </div>
          <button type="submit" class="form_button">Create Account</button>
      </form>
      <div class="back_to_login">
        <label for="back-to-login">Already have an account?</label>
        <a id="back-to-login" href="{% url 'login' %}" >Back to Log in</a>
      </div>
    </div>
    <script src="{% static 'login/js/register.js' %}"></script>
  </body>
</html>